JWT_SECRET=replace-me-with-a-long-random-string

USER_SERVICE_URL=http://user-service:3001
PRODUCT_SERVICE_URL=http://product-service:3002
CART_SERVICE_URL=http://cart-service:3003
ORDER_SERVICE_URL=http://order-service:3004
PAYMENT_SERVICE_URL=http://payment-service:3005

VITE_USER_API=http://localhost:3001
VITE_PRODUCT_API=http://localhost:3002
VITE_CART_API=http://localhost:3003
VITE_ORDER_API=http://localhost:3004
